asgiref==3.2.10
coverage==5.2.1
Django==3.0.7
django-cors-headers==3.4.0
django-filter==2.3.0
django-graphql-auth==0.3.11
django-graphql-jwt==0.3.1
freezegun==1.0.0
graphene-django==2.10.1
gunicorn==20.0.4
psycopg2-binary==2.8.5
pytz==2020.1
sqlparse==0.3.1
